<html>
<head>
    <title>Book</title>

    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/styles.css">


    <script src="/libs/jquery/dist/jquery.min.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>

</head>
<body>


<%- include('./templates/block_navigation') %>


<div class="container-fluid">
    <%- body %>
</div>

</body>
</html>
